/* The two tabs in the results */
#search-results-tab{
    background-color:#f2f2f2;
    padding: 1px;
    margin: 0px;
    border: 2px #ddd solid;
}

#saved-regulations{
    background-color:#f2f2f2;
    padding: 1px;
    margin: 0px;
    border: 2px #ddd solid;
}

.result-search-col {
    padding-left: 30px;
}

/*
    Information
*/

.regpal-info-box {
    background-color:#f2f2f2;
    padding: 20px;
    margin: 20px;
    border: 2px #ddd solid;
}


/*
    the top nav buttons in results
*/

.nav-tabs > li {
    background-color:#bfbfbf;
    border: medium none;
    border-radius: 0;
    margin-bottom: -1px;
}

.nav-tabs > li > a{
    margin-right: 0px;
    border: 0px;
}

.list-group {
    padding-left: 20px;
}