/* The two tabs in the results */
.tab-content {
    background-color:#f2f2f2;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 0px;
    border: 2px #ddd solid;
}

.result-search-col {
    padding-left: 30px;
}

/*
    Information
*/

.regpal-info-box {
    background-color:#e6e6e6;
    padding: 20px;
    margin: 20px;
    border: 2px #cccccc solid;
}

input[type="search"] {
  -webkit-appearance: searchfield;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}


/*
    the top nav buttons in results
*/

.nav-tabs > li {
    background-color:#bfbfbf;
    border: medium none;
    border-radius: 0;
    margin-bottom: -1px;
}

.nav-tabs > li > a{
    margin-right: 0px;
    border: 0px;
}

.list-group {
    padding-left: 0px;
}