<div class="row" id="search_app">
        <div class="col-md-4" v-if="currentStep == 4">

            <section class="lnkbx">
                <h3>Land type</h3>
                <input type="checkbox" name="landtype" value="1" v-model="landtype" v-on:keyup.enter="search"> Federal
                <br>
                <input type="checkbox" name="landtype" value="2" v-model="landtype"> Aboriginal
                <br>
                <input type="checkbox" name="landtype" value="3" v-model="landtype"> Critical Habitat
                <br>
            </section>

            <section class="lnkbx">
                <h3>Keywords</h3>
                <input type="text" name="keywords" placeholder="Search for keywords" v-model="searchQuery">
            </section>

            <section class="lnkbx">
                <h3>Industry</h3>
                <input type="text" name="naics" placeholder="Search for industry" id="naicsSearch" v-model="naicsString">
            </section>

            <button class="btn btn-primary" v-on:click="search">Submit</button>
        </div>

        <div class="col-md-8" v-if="currentStep == 1">
            <label for="step1-input">
                Please enter land type:
            </label>
            <section class="lnkbx" id="step1-input">
                <h3>Land type</h3>
                <input type="checkbox" name="landtype" value="1" v-model="landtype"> Federal
                <br>
                <input type="checkbox" name="landtype" value="2" v-model="landtype"> Aboriginal
                <br>
                <input type="checkbox" name="landtype" value="3" v-model="landtype"> Critical Habitat
                <br>
            </section>

            <button class="btn btn-primary" v-on:click="currentStep = 2">Next</button>
        </div>

        <div class="col-md-8" v-if="currentStep == 2">
            <label for="step2-input">
                Please enter keyword(s):
            </label>
            <section class="lnkbx" id="step2-input">
                <h3>Keywords</h3>
                <input type="text" name="keywords" placeholder="Search for keywords" v-model="searchQuery">
            </section>

            <button class="btn btn-primary" value="Previous" v-on:click="currentStep = 1">Previous</button>
            <button class="btn btn-primary" value="Next" v-on:click="currentStep = 3">Next</button>
        </div>

        <div class="col-md-8" v-if="currentStep == 3">
  
            <section class="lnkbx">
            
                <h3>Industry</h3>
                <input type="text" name="naics" placeholder="Search for industry" id="naicsSearch" v-model="naicsString">
            </section>


            <button class="btn btn-primary" value="Previous" v-on:click="currentStep = 2">Previous</button>
            <button class="btn btn-primary" value="Next" v-on:click="currentStep = 4">Next</button>
        </div>


        <div class="col-md-8" v-if="currentStep == 4">
            <div class="list-group">
                <h3>{{totalRegs}} regulation(s) match(es) your search parameters</h3><br>

                <div>
                    <!-- Pagination -->
                    <ul class="list-inline">
                        Page: 
                        <li v-for="(cPage, index) in totalPages">
                            <a href="#" onClick="return false;" v-if="index != pagination" v-on:click="changePage(index)">{{cPage}}</a>
                            <b v-else>{{cPage}}</b>
                        </li>
                    </ul>
                    <!-- END pagination -->

                    <!-- Results -->
                    <div class="list-group-item" v-for="regulation in searchResults">
                        <h4 class="list-group-item-heading"><a :href="regulation.ec_link" target="_blank">
                            {{ regulation.title }}</a>
                        </h4>
                        <b><a :href="regulation.enabling_act_link" target="_blank">{{ regulation.enabling_act_name }}</b></a>
                        <br><br>
                        <p class="list-group-item-text"><b>Regulation Description: </b> {{ regulation.regulation_description }}</p>
                        <br>
                        <p class="list-group-item-text">
                            <b>Applicable activities:</b> <ul v-for="item in getActivity(regulation.activity)">
                                {{item}}
                            </ul>
                        </p>
                        
                        <p class="list-group-item-text"><b>Program Contact: </b>{{ regulation.program_contact }}</p>
                        <br>
                        <p class="list-group-item-text"><b>Contact Email: </b>{{ regulation.program_contact_email }}</p>
                        <br>
                        <p class="list-group-item-text"><b>Contact Phone: </b>{{regulation.program_contact_phone }}</p>
                    </div>
                    <!-- END Results -->

                    <!-- Pagination again -->
                    <ul class="list-inline">
                        <li v-for="(cPage, index) in totalPages">
                            <a href="#" onClick="return false;" v-if="index != pagination" v-on:click="changePage(index)">{{cPage}}</a>
                            <b v-else>{{cPage}}</b>
                        </li>
                    </ul>
                    <!-- END Pagination again -->
                </div>
            </div>
        </div>
    </div>
    <!-- END APP -->